<html>
<head>
    <title>Aplicaciones escalables en la nube</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h1>Bienvenido, {{ nickname }}!</h1>
        <div id="contacts" class="col-lg-3">
            <form id="search-form">
                <input id="user-search-bar" name="search-text" type="text" class="form-control" placeholder="Buscar usuario">
            </form>

            <table id="search-results" class="table table-striped">
                <thead><tr><td></td></tr></thead>
                <tbody></tbody>
            </table>

            <table class="table table-striped">
                <thead><tr><td></td></tr></thead>
                <tbody>
                    {% for contact in contactList %}
                        <tr>
                            <td>
                                {{ contact.username }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table> <!-- / .table -->
        </div>

        <div id="chat" class="col-lg-9">
            <div id="messages">

            </div>

            <form id="send-chat" method="post">
                <input name="recipient" type="hidden" value="pepe">
                <div class="col-lg-10">
                    <input name="message" type="text" class="form-control">
                </div>
                <div class="col-lg-2">
                    <input type="submit" class="btn btn-info" value="Enviar"/>
                </div>

            </form>

        </div>

    </div> <!-- / .container -->

    <script>
        $(document).ready(function(){

            $('#user-search-bar').on('input', function(){

                if($(this).val()) { //controla que el input no este vacio

                    $.ajax({
                        type: "POST",
                        url: "/search",
                        data: $("#search-form").serialize(),
                        success: function(data) {
                            console.log(data)

                        }
                    });

                }
            });
        });
    </script>
</body>
</html>