<html>
<head>
    <title>Aplicaciones escalables en la nube</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h1>Bienvenido, {{ nickname }}!</h1>
        <div id="contacts" class="col-lg-3">
            <input id="user-search-bar" type="text" class="form-control" placeholder="Ejemplo: 'diego1234'">

            <table class="table table-striped">
                <thead><tr><td></td></tr></thead>
                <tbody>

                <tr><td>test</td></tr>
                    {% for contact in contactList %}
                        <tr>
                            <td>
                                {{ contact.username }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table> <!-- / .table -->
        </div>

        <div id="chat" class="col-lg-9">

        </div>

    </div> <!-- / .container -->

    <script>



    </script>
</body>
</html>